# Task instalar repositório para a instalação do zabbix server
     - name: Instalar o repositório do Zabbix Server
       yum:
         name: http://repo.zabbix.com/zabbix/2.4/rhel/7/x86_64/zabbix-release-2.4-1.el7.noarch.rpm
         state: present

# Task atualizar o sistema
     - name: yum update
       action: yum name=* state=latest

     - name: Instalar Zabbix Server
       action: yum pkg={{item}} state=installed
       with_items:
         - zabbix-server-mysql
         - zabbix-web-mysql
         - zabbix-agent
         - zabbix-get
         - zabbix-sender
         - zabbix-java-gateway

# Task configurar o time zone php
     - name: Copiar o arquivo time zone do PHP
       template: src=zabbix.conf dest=/etc/httpd/conf.d/

# Task Reload do httpd
     - name: Reload do httpd
       service:
         name: httpd
         state: started

# Task Backup do banco de dados
#     - name: Backup do banco de dados
#       shell: zcat /usr/share/doc/zabbix-server-mysql-3.4.14/create.sql.gz | mysql -uroot -p zabbixdb

# Task configurar o arquivo do zabbix server
     - name: Copiar o arquivo de configuração do Zabbix Server
       template: src=zabbix_server.conf dest=/etc/zabbix/
#
#     - name: Iniciar e habilitar o Zabbix Server
#       service: name=zabbix-server state=started enabled=true
#
#     - name: Iniciar e habilitar o Zabbix Agent
#       service: name=zabbix-agent state=started enabler=true
# Task iniciar o serviço do zabbix server
#     - name: Iniciar o serviço do Zabbix Server
#       service:
#         name: zabbix-server
#         state: started

# Task para iniciar o serviço do zabbix agent
#     - name: Iniciar o serviço do Zabbix Agent
#       service:
#         name: zabbix-agent
#         state: started






# ---------------------------------Resto de código-----------------------------------


# Task atualizar o repositório
#     - name: yum update
#       action: yum name=* state=latest
#
# Task para atualizar os pacotes
#     - name: upgrade all packages
#       yum:
#         name: '*'
#         state: latest

#    - name: Instalar o Zabbix Server
#      action: yum pkg={{item}} state=installed
#      with_items:
#          - zabbix-server-mysql
#          - zabbix-web-mysql
#          - zabbix-agent
#          - zabbix-get
#          - zabbix-sender
#          - zabbix-java-gateway


#    - name: upgrade all packages
#      yum:
#         name: '*'
#         state: latest
#
